body {
  background-color: #282c34;
}

h1 {
  color: white;
}

p {
  color: white;
}

.Main {
  text-align: center;
}

.SSRImage {
  padding: 50px;
}

.SSRText {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.about-img {
  width: 200px;
}

.Source {
  color: #808080;
}

.credit {
  color: gray;
}
