body {
  background-color: #282c34;
}

.Main {
  text-align: center;
}

.SSRImage {
  padding: 50px;
}

.SSRText {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.faq-list {
  text-align: center;
  display: flex;
  justify-content : center;

}

.Q {
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: large;
}

.A {
  text-align: left;
  color: #d3d3d3;
}
