body {
  background-color: #282c34;
}

.Main {
  text-align: center;
}

.SSRImage {
  padding: 50px;
}

.SSRText {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.small-input {
  width: 600px;
	height: 30px;
  color: white;
  background: #D9D9D9;
  border: 0;
}

.big-input {
  width: 600px;
  height: 200px;
  color: white;
  background: #D9D9D9;
  border: 0;
}
