body {
  background-color: #282c34;
}

.Main {
  text-align: center;
}

.SSRImage {
  padding: 50px;
}

.SSRText {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.small-input {
  width: 600px;
  max-width: 90%;
	height: 30px;
  color: black;
  background: #D9D9D9;
  border: 0;
}

.big-input {
  width: 600px;
  max-width: 90%;
  height: 200px;
  color: black;
  background: #D9D9D9;
  border: 0;
  word-wrap: break-word;
}

.submitButton {
  width: 90px;
  max-width: 90%;
  box-shadow:inset 0px 1px 0px 0px #380de3;
  background-color:#4f00fa;
  border-radius:8px;
  border:1px solid #4820e6;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #411cd6;
}
.submitButton-space {
  margin: 0px -517px 0px 0px;
}
.submitButton:hover {
  background-color:#4803de;
}
.submitBUtton:active {
  position:relative;
  top:1px;
}

