body {
  background-color: #282c34;
}

.Main {
  text-align: center;
}

.SSRImage {
  padding: 50px;
}

.SSRText {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.list {
  text-align: center;
  display: flex;
  justify-content : center;

}

.result-type {
  line-height: 30px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.result-list {
  line-height: 30px;
  font-size: 17px;
  text-align: left;
  color: #d3d3d3;
}

