.menu {
  height: 3.5rem;
}

.menu-item {
  display: inline-block;
  font-size: 1.2rem;
  font-style: bold;
  line-height: 3.5rem;
  width: 25%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #cdfff3;
}

.menu-item:active,
.menu-item.active {
  background-color: #9cd7ee;
}

.menu-item-link {
  color: white;
  text-decoration-line: none;
}
