header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
}

body {
  padding-top: 75px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  clear: both;
}

.menu {
  height: 3.5rem;
}

.menu-item {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  font-size: 1.2rem;
  font-style: bold;
  line-height: 3.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item-link:hover {
  color: #d3d3d3;
}

.menu-item-link {
  color: white;
  text-decoration-line: none;
}

.logo-img {
  width: 45px;
  height: 45px;
  padding: 8px;
}
